.BubbleMenu {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
	display: flex;
	gap: 8px;
	padding: 8px;

	// TODO цвета в переменные
	.active {
		background-color: #f4d03f;

		&:hover {
			background-color: #f4d03f;
		}
	}

	button {
		align-items: center;
		background: transparent;
		border: none;
		border-radius: 20%;
		cursor: pointer;
		display: flex;
		font-size: 16px;
		justify-content: center;
		padding: 6px;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: #f0f0f0;
		}
	}
}
