.TextArea {
    all: unset;

    //
    background-color: #fff;
    font: var(--font-body);
    font-weight: 300;
    height: 100%;
    overflow-wrap: break-word;
    resize: none;
    width: 100%;
}
